.g use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  animation-duration: 7s;
  animation-delay: -2s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-5.625rem, 0, 0);
  }

  100% {
    transform: translate3d(6.5625rem, 0, 0);
  }
}
