.common {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18.125rem;
  font-size: 2rem;
  line-height: 94%;
  transition: all 0.5s;

  @media (width <= 80rem) {
    max-width: 12.5rem;
    padding: 1.25rem 3.125rem;
    font-size: 1.375rem;
  }
}

.common::before {
  position: absolute;
  bottom: -1.3625rem;
  left: -0.7063rem;
  width: 100%;
  height: 1.375rem;
  content: '';
  transition: all 0.5s;
  transform: skewX(-45deg);
}

.common::after {
  position: absolute;
  bottom: -0.7063rem;
  left: -1.375rem;
  width: 1.375rem;
  height: 100%;
  content: '';
  transition: all 0.5s;
  transform: skewY(-45deg);
}

.common:active {
  margin-top: 0.9375rem;
  margin-left: -0.9375rem;
}

.common:active::before {
  bottom: -0.4375rem;
  left: -0.25rem;
  height: 0.4375rem;
}

.common:active::after {
  bottom: -0.25rem;
  left: -0.4375rem;
  width: 0.4375rem;
}
