.img {
  max-width: 100%;
  transition: transform 1s ease 0s;
}

.img:first-child {
  @media (width <= 53.125rem) {
    max-width: 65%;
  }
}

.img:nth-child(2) {
  transition-delay: 250ms;
}

.img:nth-child(3) {
  transition-delay: 500ms;

  @media (width <= 53.125rem) {
    max-width: 50%;
  }
}

.img:not(:first-child) {
  margin-top: -1.875rem;

  @media (width <= 53.125rem) {
    margin-top: -1.25rem;
  }

  @media (width <= 53.125rem) {
    margin-top: -0.625rem;
  }
}
