@mixin addFont($font-family, $file-name, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;
    src:
      url('../../../public/fonts/#{$file-name}.ttf') format('truetype'),
      url('../../../public/fonts/#{$file-name}.woff2') format('woff2'),
      url('../../../public/fonts/#{$file-name}.woff') format('woff');
  }
}

@include addFont('Rammetto One', 'rammetto-one-regular', normal, normal);
@include addFont('Microsoft YaHei', 'microsoft-ya-hei-regular', normal, normal);
@include addFont('Microsoft YaHei', 'microsoft-ya-hei-bold', bold, normal);
