@font-face {
  font-family: 'Montserrat';
  src: url('../../../public/fonts/montserrat-bold.ttf') format('truetype'), url('../../../public/fonts/montserrat-bold.woff') format('woff'), url('../../../public/fonts/montserrat-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../../public/fonts/montserrat-regular.ttf') format('truetype'), url('../../../public/fonts/montserrat-regular.woff') format('woff'), url('../../../public/fonts/montserrat-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}