@mixin addFont($font-family, $file-name, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;
    src: url('../../assets/fonts/#{$file-name}.woff2') format('woff2'),
      url('../../assets/fonts/#{$file-name}.woff') format('woff');
  }
}

@include addFont('Montserrat', 'montserrat-regular', normal, normal);
@include addFont('Montserrat', 'montserrat-bold', bold, normal);

@include addFont('Open Sans', 'open-sans-regular', normal, normal);
@include addFont('Open Sans', 'open-sans-bold', bold, normal);
