@import 'shared/styles/fonts.scss';
@import 'shared/styles/variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  font-family: $font-main;
  font-size: 16px;
}

body {
  color: #FFF;
}

a {
  color: inherit;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
