@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-rammetto-one text-[54px] text-red max-[900px]:text-[36px] max-[400px]:text-[36px];
  }

  ::-webkit-scrollbar {
    @apply w-[5px];
  }

  ::-webkit-scrollbar-track {
    @apply bg-purple;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-red;
  }
}

@layer components {
  .base-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 80px;
    padding-left: 80px;

    @media (max-width: 1250px) {
      padding-right: 45px;
      padding-left: 45px;
    }

    @media (max-width: 768px) {
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  .base-inner {
    width: 100%;
    max-width: 1920px;
  }
}
