@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    @apply w-[0.3125rem];
    @apply h-[0.3125rem];
  }

  ::-webkit-scrollbar-track {
    @apply bg-purple;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-red;
  }
}

@layer components {
  .base-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 5rem;
    padding-left: 5rem;

    @media (width <= 1250px) {
      padding-right: 2.8125rem;
      padding-left: 2.8125rem;
    }

    @media (width <= 768px) {
      padding-right: 1.875rem;
      padding-left: 1.875rem;
    }
  }
}
