@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-rammetto-one text-[3.375rem] leading-[104%] text-red max-[900px]:text-[2.25rem] max-[400px]:text-[2.25rem];
  }

  ::-webkit-scrollbar {
    @apply w-[0.3125rem];
  }

  ::-webkit-scrollbar-track {
    @apply bg-purple;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-red;
  }
}

@layer components {
  .base-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 5rem;
    padding-left: 5rem;

    @media (width <= 1250px) {
      padding-right: 2.8125rem;
      padding-left: 2.8125rem;
    }

    @media (width <= 768px) {
      padding-right: 1.875rem;
      padding-left: 1.875rem;
    }
  }

  .base-inner {
    width: 100%;
    max-width: 120rem;
  }

  .landing-paddings {
    padding-right: 5rem;
    padding-left: 25rem;

    @media (width <= 1100px) {
      padding-right: 3.125rem;
      padding-left: 3.125rem;
    }

    @media (width <= 500px) {
      padding-right: 1.25rem;
      padding-left: 1.25rem;
    }
  }
}
