.link {
  display: flex;
  gap: 1.5rem;
  justify-items: center;
  margin-top: 1.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  overflow-wrap: anywhere;

  @media (width <= 1280px) {
    flex-direction: column;
  }
}
