.team {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 68.125rem;
  height: 37.5rem;
  margin-top: 3.75rem;
  margin-bottom: 8.75rem;

  @media (width <= 89.375rem) {
    max-width: 50.75rem;
    height: 75rem;
  }

  @media (width <= 75rem) {
    max-width: 39rem;
    height: 62.5rem;
  }

  @media (width <= 68.75rem) {
    margin-top: 1.875rem;
    margin-bottom: 3.125rem;
  }

  @media (width <= 43.75rem) {
    max-width: 25.1875rem;
    height: 43.75rem;
  }
}

.kate {
  position: absolute;
  top: 5.125rem;
  left: -8%;
  z-index: 2;
  flex-shrink: 0;
  width: 21.875rem;
  height: auto;

  @media (width <= 89.375rem) {
    left: 0;
  }

  @media (width <= 75rem) {
    top: 5.6875rem;
    width: 16.4375rem;
  }

  @media (width <= 43.75rem) {
    top: 6.0625rem;
    width: 10.9375rem;
  }
}

.oksana {
  position: absolute;
  top: -1.375rem;
  left: 8%;
  z-index: 1;
  flex-shrink: 0;
  width: 26.25rem;
  height: auto;

  @media (width <= 89.375rem) {
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
  }

  @media (width <= 75rem) {
    top: 0.8125rem;
    width: 19.6875rem;
  }

  @media (width <= 43.75rem) {
    top: 2.8125rem;
    width: 13.125rem;
  }

  @media (width <= 23.75rem) {
    top: -13.75rem;
  }
}

.olga {
  position: absolute;
  top: 6.9375rem;
  left: 26%;
  z-index: 1;
  flex-shrink: 0;
  width: 23.125rem;
  height: auto;

  @media (width <= 89.375rem) {
    right: 0;
    left: auto;
  }

  @media (width <= 75rem) {
    width: 17.375rem;
  }

  @media (width <= 43.75rem) {
    width: 11.5625rem;
  }
}

.second {
  position: relative;
  width: 100%;
  max-width: 39.375rem;
  height: 75rem;
  margin: 0 auto;

  @media (width <= 75rem) {
    max-width: 29.375rem;
    height: 62.5rem;
  }

  @media (width <= 43.75rem) {
    max-width: 19.6875rem;
    height: 43.75rem;
  }
}

.svetlana {
  position: absolute;
  top: 8.0625rem;
  left: 50%;
  z-index: 3;
  flex-shrink: 0;
  width: 21.875rem;
  height: auto;

  @media (width <= 89.375rem) {
    top: auto;
    bottom: 0;
    left: 0;
  }

  @media (width <= 75rem) {
    width: 16.4375rem;
  }

  @media (width <= 43.75rem) {
    width: 10.9375rem;
  }
}

.mariya {
  position: absolute;
  right: -8%;
  z-index: 1;
  flex-shrink: 0;
  width: 25rem;
  height: auto;

  @media (width <= 89.375rem) {
    right: 0;
    bottom: 3rem;
  }

  @media (width <= 75rem) {
    bottom: 2.25rem;
    width: 18.75rem;
  }

  @media (width <= 43.75rem) {
    bottom: 1.5rem;
    width: 12.5rem;
  }
}

.dots {
  position: absolute;
  right: -3.125rem;
  bottom: -25%;
  width: 83.125rem;
  height: 31.25rem;
  background-image: url('/img/white-dots.svg');
  background-repeat: no-repeat;

  @media (width <= 89.375rem) {
    display: none;
  }
}
