.previous {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 280%;
  cursor: pointer;

  @media (width <= 75rem) {
    position: static;
  }
}

.previous::before {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1.4375rem;
  text-align: center;
  content: url('/icons/arrow.svg');
}
